<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ROLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ROLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <ROLauncher.Properties.Settings>
            <setting name="RefreshTokenPD" serializeAs="String">
                <value />
            </setting>
            <setting name="MyComUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="KeepRefreshToken" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoLaunchAfterLogin" serializeAs="String">
                <value>False</value>
            </setting>
        </ROLauncher.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <ROLauncher.Properties.Settings>
            <setting name="AutoLaunchDelayInSeconds" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="CheckForROUpdates" serializeAs="String">
                <value>True</value>
            </setting>
        </ROLauncher.Properties.Settings>
    </applicationSettings>
</configuration>